<%= form_tag '/my', method: :get do %>
  <div class="small-9 columns">
    <%= text_field_tag :q, params[:q], placeholder: 'Поиск по моим фильмам и сериалам' %>
  </div>
  <div class="small-3 columns">
    <%= submit_tag 'Поиск', class: [:button, :tiny, :info] %>
  </div>
<% end %>
