<div class="row">
  <div class="small-12 columns">
    <%= simple_form_for [:my, @film], url: create_film_my_files_path do |f| %>
      <%= f.input :title, label: 'Название фильма', input_html: { placeholder: 'Название фильма' } %>
      <%= f.submit 'Создать', class: 'button' %>
    <% end %>
  </div>
</div>
