<div class="row">
  <div class="small-8 columns">
    <%= dir.title %>
  </div>
  <div class="small-2 columns">
    <% if dir.serias_count.to_i > 1 %>
      <span class='label info'>Сериал (серий: <%= dir.serias_count %>)</span>
    <% else %>
      <span class='label info'>Фильм</span>
    <% end %>
  </div>
  <div class="small-2 columns">
    <% if current_user.user_films.search { with :dir, dir.title }.results.any? %>
      <%= link_to 'Смотрю', start_watching_my_files_path(dir: dir), class: 'button disabled tiny' %>
    <% else %>
      <%= link_to 'Смотреть', start_watching_my_files_path(dir: dir.title), class: 'button success tiny' %>
    <% end %>
  </div>
</div>
