<% @files.each do |dir, titles| %>
  <div class='dir root'>
    <%= dir %>
  </div>

  <ul class='titles childs'>
    <% titles.each do |title| %>
      <li class='title'>
        <%= check_box_tag 'watched', title.id, title.watched ? true : false, class: 'js-child-item' %>
        <%= title.title %>
      </li>
    <% end %>
  </ul>
<% end %>
