.row
  =render :partial => 'commons/search_form'

.row
  .col-xs-3
    %ul.nav.nav-pills.nav-stacked.affix
      %li
        =link_to 'Мое', my_root_path

      %li
        = link_to 'Добавить фильм', new_film_my_files_path

      %li
        = link_to 'Добавить сериал', new_serial_my_files_path

  .col-xs-9.main_page_content
    - @dirs.each do |dir|
      = render :partial => 'dir', :locals => { :dir => dir }
