.main_page_content
  padding: 20px

  .dir
    margin: 10px 0

    .toggle-dir
      border-bottom: 1px dashed #ccc
      text-decoration: none
      font-size: 11px

  ul
    margin: 10px 0

    &.hidden
      display: none

    li
      margin: 10px 0 0 20px

      &:hover
        font-weight: bold

      &.is-checked
        font-style: italic
        text-decoration: line-through
